// =================================================================
// Responsive Profiles Format - Default Variables
// =================================================================

/// Adjusts the size of the default profile photo.
/// @group profiles
/// @access public
/// @since 2.0.0

// $profile-photo-default-size:                50px;

/// Controls the style of border used on profile callouts.
/// By default, this applies to the basic and default formats only.
/// @group profiles
/// @access public
/// @since 1.0.0

// $border-profiles:                           $border;

// =================================================================
// Responsive Profiles Format - Default Import
// =================================================================

@import "burf-theme/profiles/profile-format-default";

// =================================================================
// Custom Profiles Format - Default Styles
// =================================================================