// =================================================================
// Responsive Single Profile Variables
// =================================================================

/// Controls the color used for labels in the single profile
/// listing template sidebar.
/// @group profiles
/// @access public
/// @since 1.0.0

// $color-profile-info-label:                  $color-grayscale-a;

// =================================================================
// Responsive Single Profile Import
// =================================================================

@import "burf-theme/profiles/profile-single";

// =================================================================
// Custom Single Profile Styles
// =================================================================