// =================================================================
// Responsive Profiles Format - Advanced Variables
// =================================================================

/// Controls the number of profiles in a row in the advanced format.
/// Kicks in at the extra small breakpoint.
/// @group profiles
/// @access public
/// @since 2.0.0

// $profiles-advanced-cols-xs:			        2;

/// Controls the number of profiles in a row in the advanced format.
/// Kicks in at the medium breakpoint.
/// @group profiles
/// @access public
/// @since 2.0.0

// $profiles-advanced-cols-md:                 3;

// =================================================================
// Responsive Profiles Format - Advanced Import
// =================================================================

@import "burf-theme/profiles/profile-format-advanced";

// =================================================================
// Custom Profiles Format - Advanced Styles
// =================================================================