// =================================================================
// Responsive Navigation Variables
// =================================================================

//////////////////////// Masthead & Brand //////////////////////////

/// The style of border to use on the masthead.
/// This shows directly below navigation or brand depending on the layout
/// you've chosen for your site.
/// @group header
/// @access public
/// @since 1.0.0

// $border-masthead:                           $border;

/// The background color of the masthead.
/// Bright colors are not recommended.
/// @group header
/// @access public
/// @since 1.0.0

// $color-masthead-bg:                         $color-grayscale-f;

/////////////////////// Primary Navigation /////////////////////////

/// The style of border used on primary navigation.
/// By default, this border shows above primary navigation on mobile only.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

// $border-width-primary-nav:                  1px 0 0 0;
// $border-primary-nav-desktop:                0;

/// The color of border used on primary navigation.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

// $color-primary-nav-border:                  $color-grayscale-3;

/// The font used in primary navigation.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

// $font-family-navigation:                    $font-family-sans-serif;

/// The color to use behind primary navigation.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

// $color-primary-nav-bg:                      $color-grayscale-0;

/// The color of links in primary navigation.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

// $color-primary-nav-link:                    $color-grayscale-f;

/// The color of links when you hover in primary navigation.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

// $color-primary-nav-link-hover:              $color-grayscale-a;

/// The color of an active link in primary navigation - in other words, the
/// color that a link will be when you are on that link's page.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

// $color-primary-nav-link-current:            $color-grayscale-9;

/// The color to use behind dropdown menus. Only affects non-mobile devices.
/// This variable is not used in the left hand navigation layout as dropdowns
/// are not supported.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

// $color-primary-nav-dropdown-bg:             $color-grayscale-0;

/// The color of links in dropdown menus.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

// $color-primary-nav-dropdown-link:           $color-primary-nav-link;

/// The color of links in dropdown menus when you hover over them.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

// $color-primary-nav-dropdown-link-hover:     $color-primary-nav-link-hover;

/////////////////////// Utility Navigation /////////////////////////

/// The width and style of border used in the utility navigation.
/// @group utility-navigation
/// @access public
/// @since 1.0.0

// $border-width-utility-nav:                  1px 0 0 0;

/// The font size used in the utility navigation.
/// @group utility-navigation
/// @access public
/// @since 1.0.0

// $font-size-utility-nav:                     14px;

/// The color of links in the utility navigation.
/// @group utility-navigation
/// @access public
/// @since 1.0.0

// $color-utility-nav-link:                    $color-grayscale-7;

/// The color of links when you hover in the utility navigation.
/// @group utility-navigation
/// @access public
/// @since 1.0.0

// $color-utility-nav-link-hover:              $color-grayscale-0;

/// The color of links in the utility navigation on mobile.
/// The placement of utility navigation on mobile usually means
/// the utility navigation will be on a different background color,
/// so it's important to double check that this is set correctly.
/// @group utility-navigation
/// @access public
/// @since 1.0.0

// $color-utility-nav-mobile-link:             $color-grayscale-a;

/// The color of links in the utility navigation when you hover on mobile.
/// @group utility-navigation
/// @access public
/// @since 1.0.0

// $color-utility-nav-mobile-link-hover:       $color-grayscale-f;

/////////////////// Navigation & Search Toggles ////////////////////

/// Controls the color of toggles in the navigation at mobile sizes.
/// By default, this affects both the menu and search toggles.
/// @group header
/// @access public
/// @since 1.0.0

// $color-nav-toggle:                          $color-grayscale-f;

/// Controls the color of toggles in the navigation at mobile sizes on hover.
/// @group header
/// @access public
/// @since 1.0.0

// $color-nav-toggle-hover:                    $color-grayscale-a;

/// Controls the color of toggles in the navigation at desktop sizes.
/// By default, this affects both the menu and search toggles.
/// @group header
/// @access public
/// @since 1.0.0

// $color-nav-toggle-alt:                      $color-grayscale-9;

/// Controls the color of toggles in the navigation at desktop sizes on hover.
/// @group header
/// @access public
/// @since 1.0.0

// $color-nav-toggle-alt-hover:                $color-grayscale-0;

////////////////////////////// Search //////////////////////////////

/// Controls the width of the border used on the search pane.
/// @group header
/// @access public
/// @since 1.0.0

// $border-width-quicksearch:                  1px 0 0 0;

/// Controls the color of the border used on the search form.
/// @group header
/// @access public
/// @since 1.0.0

// $color-quicksearch-border:                  $color-grayscale-d;

/// Controls how much rounding is applied to the search form field corners.
/// @group header
/// @access public
/// @since 1.0.0

// $border-radius-quicksearch-input:           20px 0 0 20px;

/// Controls how much rounding is applied to the search form submit button.
/// @group header
/// @access public
/// @since 1.0.0

// $border-radius-quicksearch-button:          0 20px 20px 0;

/// Controls the width of the border used on the search field.
/// @group header
/// @access public
/// @since 1.0.0

// $border-search:                             0;

/// Controls the background color of the search field.
/// @group header
/// @access public
/// @since 1.0.0

// $color-search-bg:                           $color-grayscale-f5;

/// Controls the color of the text in the search field.
/// @group header
/// @access public
/// @since 1.0.0

// $color-search-text:                         $color-grayscale-0;

///////////////////////////// Side Nav /////////////////////////////

/// The width of the side nav, if you are using the left hand layout.
/// @group grid
/// @access public
/// @since 1.2.0

// $width-side-nav:                            240px;

// =================================================================
// Responsive Navigation Import
// =================================================================

@import "burf-theme/layout/navigation";

// =================================================================
// Custom Navigation Styles
// =================================================================