// =================================================================
// BU Default Fonts (may be removed if not on use in your site)
// =================================================================

// Benton
// -----------------------------------------------------------------

@font-face {
	font-family: "Benton-Sans";
	src: url( "//www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-2.eot" );
	src: url( "//www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-2.eot?" ) format( "embedded-opentype" ),
			url( "//www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-3.woff" ) format( "woff" ),
			url( "//www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-1.ttf" ) format( "truetype" );
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Benton-Sans";
	src: url( "//www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-2.eot" );
	src: url( "//www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-2.eot?" ) format( "embedded-opentype" ),
			url( "//www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-3.woff" ) format( "woff" ),
			url( "//www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-1.ttf" ) format( "truetype" );
	font-display: swap;
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "Benton-Sans";
	src: url( "//www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot" );
	src: url( "//www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot?" ) format( "embedded-opentype" ),
			url( "//www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-3.woff" ) format( "woff" ),
			url( "//www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-1.ttf" ) format( "truetype" );
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Benton-Sans";
	src: url( "//www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-2.eot" );
	src: url( "//www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-2.eot?" ) format( "embedded-opentype" ),
			url( "//www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-3.woff" ) format( "woff" ),
			url( "//www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-1.ttf" ) format( "truetype" );
	font-display: swap;
	font-style: italic;
	font-weight: 700;
}

// Tiempos Text
// -----------------------------------------------------------------

@font-face {
	font-family: "TiemposText";
	src: url( "//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.eot" );
	src: url( "//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.eot?#iefix" ) format( "embedded-opentype" ),
		url( "//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.woff" ) format( "woff" );
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "TiemposText";
	src: url( "//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular-Italic.eot" );
	src: url( "//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular-Italic.eot?#iefix" ) format( "embedded-opentype" ),
		url( "//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular-Italic.woff" ) format( "woff" );
	font-display: swap;
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "TiemposText";
	src: url( "//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Semibold.eot" );
	src: url( "//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Semibold.eot?#iefix" ) format( "embedded-opentype" ),
		url( "//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Semibold.woff" ) format( "woff" );
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "TiemposText";
	src: url( "//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Semibold-Italic.eot" );
	src: url( "//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Semibold-Italic.eot?#iefix" ) format( "embedded-opentype" ),
		url( "//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Semibold-Italic.woff" ) format( "woff" );
	font-display: swap;
	font-style: italic;
	font-weight: 600;
}


// =================================================================
// Custom Fonts
// =================================================================
