// =================================================================
// Responsive Course Feeds Variables
// =================================================================

/// Controls the border between course feed items.
/// @group content
/// @access public
/// @since 2.0.0

// $border-coursefeed:                        $border;

// =================================================================
// Responsive Course Feeds Import
// =================================================================

@import "burf-theme/content/courses";

// =================================================================
// Custom Course Feeds Styles
// =================================================================