// =================================================================
// Responsive Single Calendar Event Variables
// =================================================================

/// Controls the font used for labels in the sidebar of the single
/// calendar event template.
/// @group calendar
/// @access public
/// @since 1.0.0

// $font-family-single-event-label:            $font-family-sans-serif;

/// Controls the font weight used for labels in the sidebar of the single
/// calendar event template.
/// @group calendar
/// @access public
/// @since 1.0.0

// $font-weight-calendar-label:                700;

/// Controls the color of labels in the sidebar of the single
/// calendar event template.
/// @group calendar
/// @access public
/// @since 1.0.0

// $color-single-event-label:                  $color-grayscale-9;

// =================================================================
// Responsive Single Calendar Event Import
// =================================================================

@import "burf-theme/calendar/calendar-single";

// =================================================================
// Custom Single Calendar Event Styles
// =================================================================