// =================================================================
// Responsive Calendar Widget Variables
// =================================================================

// $font-family-widget-calendar-date:         $font-family-sans-serif;
// $font-size-widget-calendar-date-day:       22px;
// $color-widget-calendar-date:               $color-grayscale-0;
// $color-widget-calendar-date-day:           inherit;
// $font-size-widget-calendar-date-month:     12px;
// $color-widget-calendar-date-month:         inherit;

// =================================================================
// Responsive Calendar Widget Import
// =================================================================

@import "burf-theme/calendar/widget-calendar";

// =================================================================
// Custom Calendar Widget Styles
// =================================================================